<template>
 <div>


  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper ">
<!--   <style>-->
<!--    .sidebar .nav p {-->
<!--     font-size: 16px;-->
<!--    }-->
<!--   </style>-->

   <sidebar></sidebar>
   <div class="main-panel">
    <!-- Navbar -->
    <navbar></navbar>
    <!-- End Navbar -->
    <vue-progress-bar></vue-progress-bar>

    <div class="content" >

     <router-view v-slot="{ Component ,route}">
      <transition :name="route.meta.transition"  >
       <component :is="Component" />
      </transition>
     </router-view>
    </div>
    <footer_app></footer_app>
   </div>
  </div>
 </div>
</template>

<script>
import footer_app from "./components/footer_app";
import sidebar from "./components/sidebar";
import navbar from "./components/navbar";
import {getCurrentInstance} from "vue";
export default {
 name: "App",
 components:{
  footer_app,
  sidebar,
  navbar
 },
 mounted() {
  //  [App.vue specific] When App.vue is finish loading finish the progress bar
  this.$Progress.finish();
 },
 created() {
  //  [App.vue specific] When App.vue is first loaded start the progress bar
  this.$Progress.start();
  //  hook the progress bar to start before we move router-view
  this.$router.beforeEach((to, from, next) => {
   //  does the page we want to go to have a meta.progress object
   if (to.meta.progress !== undefined) {
    let meta = to.meta.progress;
    // parse meta tags
    this.$Progress.parseMeta(meta);
   }
   //  start the progress bar
   this.$Progress.start();
   //  continue to next page
   next();
  });
  //  hook the progress bar to finish after we've finished moving router-view
  this.$router.afterEach((to, from) => {
   //  finish the progress bar
   this.$Progress.finish();
  });
  this.$router.afterEach((to, from) => {
   const toDepth = to.path.split('/').length
   const fromDepth = from.path.split('/').length
   to.meta.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
  })
 },
}
</script>

<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
 transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
 transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
 transform: translateX(20px);
 opacity: 0;
}
</style>