<template>
 <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
   <div class="navbar-wrapper">
    <!--       <a class="navbar-brand" href="#pablo">@yield('title')</a>-->
   </div>
   <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
           aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
    <span class="navbar-toggler-icon icon-bar"></span>
   </button>
   <div class="collapse navbar-collapse justify-content-end">
    <div class="navbar-form justify-content-start">

     <div class="input-group no-border">
      <a class="nav-link" href="logout" @click.prevent="logout()">
       <i class="material-icons">exit_to_app</i>
       <h6 class="d-lg-none d-md-block">
        <!--           {{ __('passwords.logout') }}-->

       </h6>
      </a>
     </div>

    </div>
    <ul class="navbar-nav">
     <li class="nav-item">

     </li>
    </ul>
   </div>
  </div>
 </nav>
</template>

<script>
import file_uploader from "./file_uploader";
import validation_error from "./validation_error";
import Tag from "./tag";
import category from "./category";
import {getCurrentInstance, nextTick, onMounted, onUnmounted, onUpdated, ref, watchEffect} from "vue";
import {form_data, swal_alert} from "../../scripts/global";
import {useRoute} from "vue-router";

export default {
 name: "navbar",
 setup: function () {
  const logout = function () {
   this.$Progress.start();
   axios.post('/logout', {aa: 'aa'})
    .then(resp => {
     location.href = '/login'
     // this.$Progress.finish();
     // swal_alert.success('عملیات با موفقیت انجام شد.');
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     swal_alert.error_for_all_code(error);
    })
  }
  return {
   logout,
  };
 }
}
</script>

<style scoped>

</style>