<template>
 <!-- <div class="col-12">-->
 <!--  <div id="nav">-->
 <!--   <router-link to="/">Home</router-link>-->
 <!--   |-->
 <!--   <router-link :to="{name: 'cat',params:{cat:133}}">Cats</router-link>-->
 <!--   |-->
 <!--   <router-link :to="{name: 'product'}">product</router-link>-->
 <!--   |-->
 <!--   <router-link :to="{name: 'product.edit'}">product.edit</router-link>-->
 <!--   |-->
 <!--   <router-link :to="{name: 'product.delete'}">product.delete</router-link>-->
 <!--   &lt;!&ndash;    |&ndash;&gt;-->
 <!--   &lt;!&ndash;    <router-link :to="{name: 'product.delete'}">product.delete</router-link>&ndash;&gt;-->
 <!--  </div>-->
 <!-- </div>-->

 <div class="sidebar" data-color="azure" data-background-color="white"
      data-image="{{ url('assets/admin') }}/img/sidebar-2.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
 -->
  <div class="logo">
   <!--     <a href="./index.html" class=" logo-mini  ">-->
   <!--     <img class="img-container" src="{{asset('assets/public/img/icon.png')}}" alt="">-->
   <!--    </a>-->
   <!--     <a href="./index.html" class="simple-text logo-normal">-->
   <!--      آمازون چوب-->
   <!--     </a>-->
  </div>
  <div class="sidebar-wrapper">
   <!--       @php-->
   <!--       $current=Route::currentRouteName();-->
   <!--       $product=substr(Route::currentRouteName(),0,strlen('admin.product')) === 'admin.product';-->
   <!--       @endphp-->
   <ul class="nav">
<!--    <li :class="{ 'active': address('dashboard_index') } ">
     <router-link class="nav-link" :to="{ name:'dashboard_index' }">
      <i class="material-icons">dashboard</i>
      داشبورد
     </router-link>
    </li>-->
    <!--    <li :class="{ 'active':$route.name === 'product_index' } ">
         <router-link class="nav-link" :to="{ name:'product_index' }">
          <i class="material-icons">dashboard</i>
          محصولات
         </router-link>
         <div :class="['collapse' ,{ 'show':$route.name === 'product_index' }] " id="product">
          <ul class="nav">
           <li class="nav-item {{$current === 'admin.product.index' ? 'active':''}} ">
            <a class="nav-link" href="{{route('admin.product.index')}}">
             <span class="sidebar-mini"><i class="material-icons">list</i></span>
             <span class="sidebar-normal">لیست محصولات</span>
            </a>
           </li>
           <li class="nav-item {{$current === 'admin.product.create' ? 'active':''}} ">
            <a class="nav-link" href="{{route('admin.product.create')}}">
             <span class="sidebar-mini"><i class="material-icons">add_circle_outline</i></span>
             <span class="sidebar-normal">ثبت محصول جدید</span>
            </a>
           </li>
          </ul>
         </div>
        </li>-->
    <li :class="['nav-item', { 'active':start_address('product')}] ">
     <a class="nav-link" data-toggle="collapse" href="#product_index">
      <p>
       <i class="material-icons">production_quantity_limits</i>
       محصولات
       <b class="caret"></b>
      </p>
     </a>
     <div :class="['collapse' ,{ 'show':start_address('product') } ]" id="product_index">
      <ul class="nav">
       <li :class="['nav-item',{ 'active':address('product_list') }] ">
        <router-link class="nav-link" :to="{ name:'product_list' }">
         <span class="sidebar-mini"><i class="material-icons">list</i></span>
         <span class="sidebar-normal">لیست محصولات</span>
        </router-link>
       </li>
       <li :class="['nav-item',{ 'active':address('product_create') }] ">
        <router-link class="nav-link" :to="{ name:'product_create' }">
         <span class="sidebar-mini"><i class="material-icons">list</i></span>
         <span class="sidebar-normal">محصول جدید</span>
        </router-link>
       </li>
      </ul>
     </div>
     <!--        <li class="nav-item {{ $product? 'active':''}} ">
              <a class="nav-link" data-toggle="collapse" href="#product">
               <p>
                <i class="material-icons">production_quantity_limits</i>
                محصولات
                <b class="caret"></b>
               </p>
              </a>
              <div class="collapse {{$product ? 'show':''}} " id="product">
               <ul class="nav">
                <li class="nav-item {{$current === 'admin.product.index' ? 'active':''}} ">
                 <a class="nav-link" href="{{route('admin.product.index')}}">
                  <span class="sidebar-mini"><i class="material-icons">list</i></span>
                  <span class="sidebar-normal">لیست محصولات</span>
                 </a>
                </li>
                <li class="nav-item {{$current === 'admin.product.create' ? 'active':''}} ">
                 <a class="nav-link" href="{{route('admin.product.create')}}">
                  <span class="sidebar-mini"><i class="material-icons">add_circle_outline</i></span>
                  <span class="sidebar-normal">ثبت محصول جدید</span>
                 </a>
                </li>
               </ul>
              </div>
             </li>-->
    </li>
   </ul>
  </div>
 </div>
</template>

<script>

export default {
 name: "sidebar",
 methods: {
  address($name) {
   return this.$route.name === $name
  },
  start_address($name) {
   return _.startsWith(this.$route.name, $name)
  }
 },
}
</script>

<style scoped>

</style>