<template>
 <div class="modal fade" id="tagsModal" tabindex="-1" role="">
  <div class="modal-dialog modal-signup" role="document">
   <div class="modal-content">
    <div class="card card-signup card-plain">
     <div class="modal-header">
      <div class="card-header card-header-primary text-center">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="material-icons">clear</i>
       </button>
       <h4 class="card-title">ویژگی‌ها</h4>
      </div>
     </div>
     <div class="modal-body">
      <div class="table-responsive">
       <table class="table table-shopping">
        <thead>
        <tr>
         <th class="text-center">#</th>
         <th><i class="material-icons">image</i></th>
         <th>نام</th>
         <th class="text-right">فعالیت</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(tag,index) in computedListTags">
         <td class="text-center">{{ index + 1 }}</td>
         <td>
          <div class="img-container">
           <!--           <img src="../../assets/img/tag3.jpg" alt="...">-->
           <img v-if="tag.image" :src="tag.image.address">
           <!--           <input v-else type="file" @change="updateTag(tag)" ref="file" name="" >-->
           <!--           @change="updateTag(tag)"-->
           <input v-if="tag.showInput" type="file" ref="file" name="">
           <validation_error v-if="editErrors.files && tag.showInput" :value="editErrors.files"></validation_error>
          </div>
         </td>
         <td v-if="!tag.showInput">{{ tag.name }}</td>
         <td v-if="tag.showInput">
          <input type="text" v-model="tag.name" class="form-control">
          <validation_error v-if="editErrors.name" :value="editErrors.name"></validation_error>
         </td>
         <td class="td-actions text-right">
          <button @click.prevent="remove(tag)" class="btn btn-danger">
           <i class="material-icons">close</i>
          </button>
          <button v-if="tag.showInput" @click.prevent="updateTag(tag)" class="btn btn-info">
           <i class="material-icons">edit</i>
          </button>
          <button v-if="!tag.showInput" @click.prevent="editState(tag)"
                  class="btn btn-info">
           <i class="material-icons">edit</i>
          </button>
         </td>
        </tr>
        <tr>
         <td></td>
         <td>
          <div class="img-container">
           <img v-if="newTag.image" :src="newTag.image.address">
           <input type="file" ref="newTagFile" name="">
           <validation_error v-if="errors.files" :value="errors.files"></validation_error>
          </div>
         </td>
         <td>
          <input type="text" v-model="newTag.name" class="form-control">
          <validation_error v-if="errors.name" :value="errors.name"></validation_error>
         </td>
         <td class="td-actions text-right">
          <button @click.prevent="store(newTag)" class="btn btn-success">
           <i class="material-icons">save</i>
          </button>
         </td>
        </tr>
        </tbody>
       </table>
      </div>
     </div>
     <div class="modal-footer justify-content-center">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
       <i class="material-icons">clear</i>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import {ref} from 'vue';
import {
 getCurrentInstance,
 onMounted,
 onUpdated,
 computed,
 watchEffect,
 onbeforeMount,
 onUnmounted,
 nextTick
} from 'vue'
import {swal_alert, form_data} from "../../scripts/global";
import validation_error from "../components/validation_error";

export default {
 name: "tag",
 components: {
  validation_error,
 },
 setup: function () {
  const bus = getCurrentInstance().appContext.config.globalProperties.bus;

  const tag = ref({
   name: '',
   image: {}
  })
  const copy_tag = _.clone(tag.value);
  const getTag = () => {
   axios.get('/admin/tag/' + id.value + '/edit').then(res => {
    tag.value = _.pick(res.data.data, ['id', 'name', 'code', 'price', 'description', 'tags',]);
    Files.value = res.data.data.files;
    selected_tags.value = res.data.data.tags
    tag.value.selected_tags = selected_tags.value;
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  const errors = ref([]);
  const newTag = ref({})
  const listTags = ref([]);
  const computedListTags = computed(() => {
   return listTags.value;
  });

  const getListTags = function () {
   axios.get('/admin/tag?with_img=true').then(res => {
    res.data.forEach((tag) => {
     tag.showInput = false;
     listTags.value.push(tag)
    });
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  onUpdated(() => {
  });
  onUnmounted(() => {
  });
  onMounted(() => {

   $('#tagsModal').on('show.bs.modal', function (e) {
    // console.log('sssssssssssssssssssssss')
    getListTags();
   })
   $('#tagsModal').on('hidden.bs.modal', function (e) {
    listTags.value = [];
    errors.value = [];
    editErrors.value = [];
   })
  });
  watchEffect(() => {
  })
  const image = ref({
   file: {}
  });
  const editErrors = ref([]);

  const updateTag = function (tag) {
   this.$Progress.start();
   editErrors.value = [];
   axios.post('/admin/tag/' + tag.id, form_data.form_data(tag, [{
    file: this.$refs.file.files[0],
   }], 'PUT'))
    .then(resp => {
     this.$Progress.finish();
     swal_alert.success('عملیات با موفقیت انجام شد.');
     tag.image = resp.data.image
     tag.code = resp.data.code
     tag.description = resp.data.description
     tag.name = resp.data.name
     // listTags.value.forEach((item) => {
     //  if (item === tag) {
     //   console.log(item === tag,item , tag)
     //   item = resp.data;
     //  }
     // });
     tag.showInput = false;
     //////////////////////////////////////////////
     // tag.value = copy_tag;
     // tag.value.selected_tags = selected_tags.value = [];
     // all_files = [];
     // bus.emit('all_files_updated', all_files);
     //////////////////////////////////////////////
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     editErrors.value = swal_alert.error_for_all_code(error);
    })
  };
  const store = function (tag) {
   this.$Progress.start();
   errors.value = [];
   axios.post('/admin/tag', form_data.form_data(tag, [{
    file: this.$refs.newTagFile.files[0],
   }]))
    .then(resp => {
     this.$Progress.finish();
     swal_alert.success('عملیات با موفقیت انجام شد.');
     listTags.value = [];
     getListTags()
     newTag.value = {};
     this.$refs.newTagFile.value = '';
     // console.log(this.$refs.newTagFile.value)
     // tag.image = resp.data.image
     // tag.code = resp.data.code
     // tag.description = resp.data.description
     // tag.name = resp.data.name
     // listTags.value.forEach((item) => {
     //  if (item === tag) {
     //   console.log(item === tag,item , tag)
     //   item = resp.data;
     //  }
     // });
     // tag.showInput = false;
     //////////////////////////////////////////////
     // tag.value = copy_tag;
     // tag.value.selected_tags = selected_tags.value = [];
     // all_files = [];
     // bus.emit('all_files_updated', all_files);
     //////////////////////////////////////////////
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     errors.value = swal_alert.error_for_all_code(error);
    })
  };
  const editState = (tag) => {
   errors.value = [];
   editErrors.value = [];
   listTags.value.forEach((item) => {
    item.showInput = false;
    if (item === tag) {
     tag.showInput = !tag.showInput
    }
   });
  };
  const remove = function (tag) {
   console.log(  this.$Progress)
   swal_alert.delete(tag.name).then(res => {
    if (res.value) {
     this.$Progress.start();
     axios.post('admin/tag/' + tag.id, form_data.form_data(null, null, 'DELETE')).then(r => {
      this.$Progress.finish();
      listTags.value.splice(listTags.value.indexOf(tag), 1)
      swal_alert.success('عملیات با موفقیت انجام شد.');

     })
      .catch((error, a, b) => {
      this.$Progress.fail();
      swal_alert.error_for_all_code(error);
     })
     ;
    }
   })
  }
  return {
   tag,
   store,
   errors,
   listTags,
   computedListTags,
   getTag,
   editErrors,
   updateTag,
   image,
   newTag,
   editState,
   remove
  };
 }


}
</script>
<style scoped>

</style>