<template>
 <div>
  <small class="text-danger" v-if="value.length">{{ value[0] }}</small>
  <small v-else-if="array !== {}" class="text-danger" v-for="err in arrayErrors()" :key="err.key">
   <span v-if="err.row >= 0" v-text="`${translate_item} ${err.row}:`"></span>
   {{ err.value[0] }}
   <br>
  </small>
 </div>


</template>

<script>
export default {
 name: "validation_error",
 props: {
  translate_item: {
   type: String,
   default() {
    return 'مورد'
   }
  },
  value: {
   type: Array,
   default() {
    return []
   }
  },
  array: {
   type: [Object, Array],
   default() {
    return {}
   }
  },
  key_err: {
   type: String,
   default() {
    return ''
   }
  }


 },
 methods: {
  arrayErrors() {
   let list = [];
   for (const [key, value] of Object.entries(JSON.parse(JSON.stringify(this.array)))) {
    if (key.startsWith(this.key_err)) {
     let item = {
      'key': key,
      'value': value
     };
     if (key.substring(this.key_err.length + 1)) {
      item['row'] = Number(key.substring(this.key_err.length + 1)) + 1;
     }
     list.push(item);
    }
   }
   return list;
  }
 },
}
</script>

<style scoped></style>
